<a href="https://colab.research.google.com/github/ankitakhakhal/Heart-Disease-Prediction/blob/main/Heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/project/

/content/drive/MyDrive/project

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Heart failure predicction dataset.zip')

In [ ]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
df.shape

(918, 12)

In [ ]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [ ]:
df.dropna(subset=['HeartDisease'], inplace=True)

In [ ]:
input_cols = list(df.columns)[1:-1]
target_col = 'HeartDisease'

In [ ]:
X = df[input_cols].copy()
y = df[target_col].copy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [ ]:
X_train.shape

(734, 10)

In [ ]:
numeric_cols = X_train.select_dtypes(include=np.number).columns.tolist()
categorical_cols = X_train.select_dtypes('object').columns.tolist()

In [ ]:
print(numeric_cols)

['RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak']

In [ ]:
print(categorical_cols)

['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler().fit(df[numeric_cols])

In [ ]:
X_train[numeric_cols] = scaler.transform(X_train[numeric_cols])
X_test[numeric_cols] = scaler.transform(X_test[numeric_cols])

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore').fit(df[categorical_cols])

In [ ]:
encoded_cols = list(encoder.get_feature_names(categorical_cols))

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
X_train[encoded_cols] = encoder.transform(X_train[categorical_cols])
X_test[encoded_cols] = encoder.transform(X_test[categorical_cols])

In [ ]:
X_train

,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,...,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
852,M,ASY,0.600,0.293532,0.0,LVH,0.422535,Y,0.579545,Flat,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
121,F,NAP,0.625,0.451078,0.0,Normal,0.556338,N,0.295455,Up,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
664,F,ASY,0.750,0.373134,0.0,LVH,0.380282,N,0.409091,Flat,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
187,M,ASY,0.600,0.393035,1.0,Normal,0.549296,Y,0.409091,Flat,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
108,M,ASY,0.700,0.213930,0.0,Normal,0.528169,N,0.295455,Up,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,F,NAP,0.540,0.442786,0.0,LVH,0.753521,N,0.295455,Up,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
72,M,ASY,0.600,0.301824,0.0,Normal,0.633803,N,0.295455,Flat,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
908,M,ASY,0.700,0.310116,0.0,LVH,0.591549,Y,0.750000,Up,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
235,M,ATA,0.600,0.331675,0.0,Normal,0.704225,Y,0.409091,Flat,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
37,F,ATA,0.550,0.414594,0.0,ST,0.577465,N,0.295455,Up,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0

In [ ]:
F_train = X_train[numeric_cols + encoded_cols]
F_test = X_test[numeric_cols + encoded_cols]

In [ ]:
F_train

,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
852,0.600,0.293532,0.0,0.422535,0.579545,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
121,0.625,0.451078,0.0,0.556338,0.295455,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
664,0.750,0.373134,0.0,0.380282,0.409091,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
187,0.600,0.393035,1.0,0.549296,0.409091,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
108,0.700,0.213930,0.0,0.528169,0.295455,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,0.540,0.442786,0.0,0.753521,0.295455,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
72,0.600,0.301824,0.0,0.633803,0.295455,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
908,0.700,0.310116,0.0,0.591549,0.750000,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
235,0.600,0.331675,0.0,0.704225,0.409091,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
37,0.550,0.414594,0.0,0.577465,0.295455,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = RandomForestClassifier(n_jobs=-1, random_state=22)

In [ ]:
%%time
model.fit(F_train, y_train)

CPU times: user 285 ms, sys: 24.7 ms, total: 309 ms
Wall time: 253 ms

RandomForestClassifier(n_jobs=-1, random_state=22)

In [ ]:
model.score(F_train, y_train)

1.0

In [ ]:
model.score(F_test, y_test)

0.907608695652174

In [ ]:
F_pred = model.predict(F_test)

In [ ]:
print(F_pred)

[1 1 1 1 1 0 0 0 0 1 0 1 1 1 1 0 1 0 1 1 1 0 1 0 1 1 0 1 1 0 0 0 0 0 1 1 1
 1 0 0 1 1 1 0 0 0 1 0 0 1 0 1 1 0 1 0 1 0 1 0 1 1 0 0 0 1 1 1 0 1 1 0 1 1
 0 1 0 1 1 1 1 1 1 1 1 1 0 0 0 0 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 0 0 1 1 0 0
 1 0 0 0 0 1 0 0 1 1 1 1 0 1 0 1 0 1 1 0 1 0 1 1 1 1 1 0 1 1 0 0 1 1 0 0 1
 0 1 1 0 0 0 0 1 0 1 1 1 1 1 1 0 1 1 0 1 1 1 0 1 1 1 1 1 0 0 1 1 1 0 0 1]

In [ ]:
print(np.array(y_test))

[1 1 1 1 1 0 1 0 0 0 0 1 1 1 1 0 1 0 1 1 1 0 1 0 1 1 0 1 1 0 0 0 0 0 1 1 1
 1 0 0 1 1 1 0 0 0 1 0 0 1 0 1 1 1 1 0 1 1 1 0 1 1 0 0 0 1 1 1 0 1 1 0 1 1
 0 0 0 1 1 1 1 1 1 1 1 1 0 0 0 0 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 0 0 0 1 0 0
 1 0 0 0 0 1 0 0 1 0 0 1 1 1 0 1 0 1 0 1 1 0 1 1 1 1 1 0 1 1 0 0 1 1 1 0 1
 1 1 1 1 0 0 0 1 0 1 1 1 1 1 1 0 1 0 0 1 1 1 0 1 1 1 1 1 0 0 1 1 0 0 0 1]